<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
  </head>
  <body>
    <header>
        <h1>Compras</h1>
    </header>
    <form action="/comprar" method="POST">
        <div>
            <label>Código</label><br>
            <input type="hidden" name="codigo" value="SMG8"><br> <!-- Altere o value do código para o código de um determinado produto -->

            <label>Quantidade</label><br>
            <input type="number" name="quantidade"><br>

            <input id="submit" type="submit" value="Comprar">
        </div>
    </form>
  </body>

</html>
